@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&family=Playfair+Display:wght@400;700&display=swap');

.svg-Frame-dims { width: 50px; height: 50px; }
.svg-Frame2-dims { width: 50px; height: 50px; }
.svg-Frame3-dims { width: 50px; height: 50px; }
.svg-address-dims { width: 24px; height: 24px; }
.svg-amazon-dims { width: 80px; height: 80px; }
.svg-be-dims { width: 80px; height: 80px; }
.svg-facebook-dims { width: 18px; height: 18px; }
.svg-google-dims { width: 80px; height: 80px; }
.svg-in-dims { width: 80px; height: 80px; }
.svg-instagramm-dims { width: 20px; height: 20px; }
.svg-mail-dims { width: 24px; height: 24px; }
.svg-phone-dims { width: 24px; height: 24px; }