<article class="clients">
   <div class="clients__container">
      <a href="" class="clients__link">
         <div class="icon-box">
            <img src="./images/sprite.svg#amazon" class="svg-amazon-dims" alt="amazon">
         </div>
      </a>
      <a href="" class="clients__link">
         <div class="icon-box">
            <img src="./images/sprite.svg#be" class="svg-be-dims" alt="be">
         </div>
      </a>
      <a href="" class="clients__link">
         <div class="icon-box">
            <img src="./images/sprite.svg#google" class="svg-google-dims" alt="google">
         </div>
      </a>
      <a href="" class="clients__link">
         <div class="icon-box">
            <img src="./images/sprite.svg#in" class="svg-in-dims" alt="in">
         </div>
      </a>
      <div class="clients__title">Our clients</div>
   </div>
</article>