<article class="dna">
   <div class="dna__container">
      <div class="dna__bg">
         <picture>
            <source type="image/avif" srcset="./images/dna.avif" />
            <source type="image/webp" srcset="./images/dna.webp" />
            <img src="./images/dna.png">
         </picture>
      </div>
      <div class="dna__content">
         <div class="dna__title">Our DNA</div>
         <div class="dna__subtitle">Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus ultricies
            velit elementum ut dui sed augue ultrices phasellus <a href="">ullamcorper condimentum</a> ut suspendisse
            viverra ornare sit venenatis</div>
         <div class="dna__text">Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus ultricies velit
         </div>
         <a href="" class="dna__btn">Read More</a>
      </div>
   </div>
</article>