<footer>
   <div class="footer__container">
      <div class="footer__copy">Copyright 2020</div>
      <div class="footer__title">ARCHITAA</div>
      <div class="footer__list">
         <div class="footer__link">
            <div class="footer__linkIcon">
               <div class="icon-box">
                  <img src="./images/sprite.svg#mail" class="svg-mail-dims" alt="mail">
               </div>
            </div>
            <a href="">willie.jennings@example.com</a>
         </div>
         <div class="footer__link">
            <div class="footer__linkIcon">
               <div class="icon-box">
                  <img src="./images/sprite.svg#phone" class="svg-phone-dims" alt="phone">
               </div>
            </div>
            <a href="">(603) 555-0123</a>
         </div>
         <div class="footer__link">
            <div class="footer__linkIcon">
               <div class="icon-box">
                  <img src="./images/sprite.svg#address" class="svg-address-dims" alt="address">
               </div>
            </div>
            <a href="">8502 Preston Rd. Inglewood, Maine 98380</a>
         </div>
      </div>
   </div>
</footer>

</html>