<header>
   <div class="header__container">
      <div class="header__social">
         <a href="" class="header__link">
            <div class="icon-box">
               <img src="./images/sprite.svg#facebook" class="svg-facebook-dims" alt="facebook">
            </div>
         </a>
         <a href="" class="header__link">
            <div class="icon-box">
               <img src="./images/sprite.svg#instagramm" class="svg-instagramm-dims" alt="instagramm">
            </div>
         </a>
      </div>
      <div class="header__title">ARCHITAA</div>
      <div class="header__btn"></div>
   </div>
</header>