<article class="mn">
   <div class="mn__container">
      <div class="mn__title">Architecture
         Studio</div>
      <a href="#" class="mn__next">Next</a>
      <a href="#" class="mn__prev">Prev</a>
      <div class="mn__bg">
         <div class="mn__bgContent">
            <div class="mn__bgImg">
               <picture>
                  <source type="image/avif" srcset="./images/main-bg.avif" />
                  <source type="image/webp" srcset="./images/main-bg.webp" />
                  <img src="./images/main-bg.png">
               </picture>
            </div>
            <div class="mn__bgNum">
               <picture>
                  <source type="image/avif" srcset="./images/01.avif" />
                  <source type="image/webp" srcset="./images/01.webp" />
                  <img src="./images/01.png">
               </picture>
            </div>
         </div>
      </div>
   </div>
</article>