<article class="why">
   <div class="why__container">
      <div class="why__content">
         <div class="why__main">
            <div class="why__title">Why Us</div>
            <div class="why__subtitle">Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus ultricies
               velit elementum ut dui sed augue ultrices phasellus <a href=""> ullamcorper condimentum</a> ut
               suspendisse viverra ornare
               sit venenatis</div>
            <div class="why__grid">
               <div class="why__item">
                  <div class="why__icon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#Frame" class="svg-Frame-dims" alt="Frame">
                     </div>
                  </div>
                  <div class="why__about">Eco-Friendly</div>
               </div>
               <div class="why__item">
                  <div class="why__icon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#Frame2" class="svg-Frame2-dims" alt="Frame">
                     </div>
                  </div>
                  <div class="why__about">Eco-Friendly</div>
               </div>
               <div class="why__item">
                  <div class="why__icon">
                     <div class="icon-box">
                        <img src="./images/sprite.svg#Frame3" class="svg-Frame3-dims" alt="Frame">
                     </div>
                  </div>
                  <div class="why__about">24*7 Support</div>
               </div>
            </div>
         </div>
         <div class="why__side">Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus ultricies velit
            elementum ut dui sed augue ultrices phasellus ullamcorper condimentum ut suspendisse viverra ornare sit
            venenatis</div>
      </div>
   </div>
</article>