<article class="work">
   <div class="work__container">
      <div class="work__head">
         <div class="work__title">Selected Work</div>
         <div class="work__subtitle">Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus ultricies
            velit elementum ut dui sed augue ultrices phasellus ullamcorper condimentum ut suspendisse viverra ornare
            sit venenatis</div>
      </div>
      <div class="work__content">
         <div class="work__absolute">
            <div class="work__absImg one">
               01
            </div>
            <div class="work__absImg two">
               <picture>
                  <source type="image/avif" srcset="./images/work1.avif" />
                  <source type="image/webp" srcset="./images/work1.webp" />
                  <img src="./images/work1.png">
               </picture>
            </div>
            <div class="work__absImg three">
               <picture>
                  <source type="image/avif" srcset="./images/work2.avif" />
                  <source type="image/webp" srcset="./images/work2.webp" />
                  <img src="./images/work2.png">
               </picture>
            </div>
            <a href="" class="work__absBtn">View Case</a>
         </div>
         <div class="work__text">
            <div class="work__about">Louis Vuitton</div>
            <div class="work__desc">Amet eu facilisi posuere ut at cras non ipsum proin nunc purus tellus ultricies
               velit elementum ut dui sed augue ultrices phasellus ullamcorper condimentum ut suspendisse viverra ornare
               sit venenatis</div>
            <div class="work__btns">
               <a href="#" class="work__next">Next</a>
               <a href="#" class="work__prev">Prev</a>
            </div>
         </div>
      </div>
   </div>
</article>